.background-blue {
  background-color: #1b6bb5;
}
.post-width {
  width: 500px;
}
.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../media/images/moon-1527501_1280.jpg);
  background-size: cover;
  filter: opacity(0.7);
  z-index: -1;
  margin-top: 3%;
}
.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

